.app-header{
    button{
        margin: 0 16px;
    }

    .example-spacer {
    flex: 1 1 auto;
    }

    .mat-toolbar{
        background-color: rgb(0, 0, 0);
        padding: 0 256px;
    }

    .mat-mdc-button:not(:disabled){
        color: white;
    }

    .mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
        --mdc-outlined-button-label-text-color: rgb(255 255 255);

    }

    .mat-mdc-outlined-button:not(:disabled) {
        outline: 1px solid white;
    }

    button.cadastrar-button, button.login-button{
        text-transform: uppercase;
    }

}

