.card{
    padding: 24px;
    &.primary{/*Aqui vao ser aplicados estilos para elementos que possuem a classe card E a classe primary*/
        background: #FEF7FF;
        border: 1px solid #CAC4D0;
        border-radius: 12px;
    }
    &.secondary{
        background: #F5F5F5;
        border-radius: 16px;
    }
}