<footer>
    <div class="footer-content">
        <section class="about-company">
            <img src="{{ src }}" alt="{{ alt }}">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.lo Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </section>
        <section class="follow-us">
            <h2>Siga a jornada milhas</h2>
            <ul>
                <li>
                    <i class="bi bi-instagram"></i>
                </li>
                <li>
                    <i class="bi bi-facebook"></i>
                </li>
                <li>
                    <i class="bi bi-twitter"></i>
                </li>
            </ul>
        </section>
    </div>
</footer>